<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register page</title>
    <script src="../../actions/register.js" type="module"></script>
    <link rel="stylesheet" href="../css/login_form.css" />
  </head>
  <body>
    <div class="logo">
      <a href="../index.html"
        ><img src="../css/images/logo.png" alt="Logo z napisem AWI"
      /></a>
    </div>
    <form class="form" id="registerForm">
      <div class="register-icon">
        <img
          src="../css/images/register_icon.png"
          alt="Obrazek rejestracji użytkownika"
        />
      </div>

      <div class="form-row">
        <label for="user-fullname" class="form-label">Imie</label>
        <input
          type="text"
          class="form-control"
          id="user-fullname"
          name="user-fullname"
        />
      </div>

      <div class="form-row">
        <label for="login" class="form-label">Login</label>
        <input
          type="text"
          class="form-control"
          id="login"
          name="login"
        />
      </div>

      <div class="form-row">
        <label for="email" class="form-label">Podaj email</label>
        <input type="text" class="form-control" id="email" name="email" />
      </div>

      <div class="form-row">
        <label class="form-label" for="password">Wprowadź hasło</label>
        <input
          type="password"
          class="form-control form-control-textarea"
          name="password"
          id="password"
        />
      </div>

      <div class="spacer-form"></div>
      <button type="submit" class="button form-button">Zarejestruj się</button>
    </form>
    <div class="copyright">
      <p>2022 &copy; Aplikacja Wspomagająca Inwestycje</p>
    </div>
  </body>
</html>
