* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main_green: rgba(22, 48, 43, 0.914);
}

nav {
  background: linear-gradient(to bottom right, #000000, var(--main_green));
}

.container-currencies {
  background: #ffffff;
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}


@media screen and (max-width: 868px) {
  .nav-links {
    background: linear-gradient(to top right, #000000, var(--main_green));
    height: 68vh;
    border-top: 2px solid rgb(26, 47, 36);
    border-bottom: 2px solid rgb(26, 47, 36);
  }
}


.tabele {
  max-width: 980px;
  background: none;
  padding: 15px 15px;
  color: rgb(22, 48, 43);
  font-family: "Poppins", sans-serif;
  margin: 10px auto 16vh;
}

.tabele table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.tabele caption {
  font-size: 24px;
  padding-bottom: 10px;
  color: rgb(22, 48, 43);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.tabele thead {
  height: 60px;
  background: rgb(22, 48, 43);
  color: rgba(240, 255, 255, 0.929);
  position: sticky;
  top: 0px;
}

.tabele th {
  text-align: center;
  padding: 8px 4px;
}

.tabele tr {
  text-align: center;
  padding: 8px 4px;
  border-bottom: solid 2px rgb(255, 255, 255);
}

.tabele tbody tr {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.712);
  border: none;
  transition: all 0.3s;
}

.tabele tbody tr:hover {
  background: rgba(17, 37, 32, 0.715);
  color: #fff;
}

.tabele td {
  padding: 10px 24px;
  text-align: center;
}

.Spacer{
  height:10px;
}

.CurrenciesDate{
  font-size: 16px;
  font-weight: lighter;
}