.footer {
  background: linear-gradient(to bottom right, #000000, var(--main_green));
  box-sizing: border-box;
  width: 100vw;
  max-height: 16vh;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-login {
  position: fixed;
  left: 5%;
}

.footer-login img {
  max-width: 35px;
}

p.footer-log {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  padding: 0;
  transition: ease 0.25s;
  text-decoration: none;
}

p.footer-log a {
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  display: grid;
  transition: ease 0.25s, opacity 0.4s;
}

p.footer-log a:hover {
  opacity: 0.6;
}

.footer-content p {
  color: #afb2b5;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* Footer links */
p.footer-links {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
  transition: opacity 0.4s;
}

.footer-links a:before {
  content: "|";
  font-size: 25px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}

p.footer-links a:hover {
  opacity: 0.6;
}

.footer-logo {
  position: fixed;
  right: 5%;
  margin-top: 10px;
  margin-left: 20px;
  max-width: 180px;
}

.footer-logo img {
  transition: opacity 0.4s;
  max-width: 130px;
  text-decoration: none;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
  margin-right: 20px;
}

.footer-logo img:hover {
  opacity: 60%;
}

@media (max-width: 868px) {
  .footer {
    max-height: 24vh;
    flex-direction: column;
  }
  .footer-logo {
    position: static;
    float: none;
    margin: 0 auto 0;
  }
  .footer-login {
    position: static;
    float: none;
    margin: 0 auto 0;
  }
  p.footer-links {
    font-size: 16px;
    margin: 0 0 3px;
  }
  .footer-logo img {
    max-width: 90px;
    margin-bottom: 5px;
  }
  p.footer-log a {
    display: inline-block;
    margin: 3px 10px 0;
  }
  .login-1 {
    border-bottom: none;
  }
  .footer-login img {
    display: none;
  }
}
