/*caly pasek nawigacji*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-height: 8vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  background: linear-gradient(90deg, #003100 10%, #000 98%);
;
}

/*tytul/logo/odnosnik do home*/
.logo img {
  width: 100px;
  text-decoration: none;
  float: left;
  padding-left: 5%;
  padding-top: 2%;
  transition: opacity 0.4s;
}

.logo img:hover {
  opacity: 60%;
}

/*odleglosc od elementow menu*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

/*usuwa kropki*/
.nav-links li {
  list-style: none;
}

/*custom elementow menu*/
.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 17px;
  padding: 12px 12px;
  border-radius: 7px;
  transition: background-color 0.4s;
}

.nav-links a:hover {
  background-color: rgba(240, 248, 255, 0.889);
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}


.burger div {
  width: 25px;
  height: 3px;
  color: rgb(255, 255, 255);
  margin: 5px;
  background-color: rgb(226, 226, 226);
  transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

/*dla responsywnosci*/
@media screen and (max-width: 868px) {

  .burger {
    display: block;
    position: absolute;
    right: 18%;
  }
  .logo {
    position: absolute;
    left: 18%;
  }
  .nav-links{
    display:none;
  }
}

.nav-active {
  transform: translateX(0%);
}

/**/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


/*dla strony not found*/
.NotFound{
  color: rgb(122, 4, 4);
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
}

/*boczny wysuwany panel*/
.dropdown{
  overflow: hidden;
}

.nav-links-dropdown {
    position:absolute;
    display: flex;
    right:40vw;
    width: 40vw;
    height: 40vh;
    top: 8vh;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background: rgba(20, 43, 38, 0.936);
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.9s ease-out;
  }
  .nav-links-dropdown li {
    list-style: none;
  }
  .nav-links-dropdown li a {
    display: block;
    color: rgb(255, 255, 255);
  }

  .nav-links-dropdown a:hover {
    background-color: rgba(240, 248, 255, 0.889);
    color: black;
  }

  .nav-links-dropdown a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 17px;
    padding: 12px 12px;
    border-radius: 7px;
    transition: background-color 0.4s;
  }