<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.scss" />
    <title>AWI_nav</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="css/images/logo.png" alt="Logo z napisem AWI"/>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">SPÓŁKI</a>
        </li>
        <li>
          <a href="#">KALKULATOR</a>
        </li>
        <li>
          <a href="#">HELP</a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="welcome-text">
      <h1>Aplikacja<br />Wpomagajaca<br />Inwestycje</h1>
      <p>
        Witaj w aplikacji, która pozwoli Ci sprawdzić notowania spółek oraz
        <br />mądrze zainwestować 
      </p>
      <div class="buttons">
        <div class="logowanie"><b>Zaloguj się</b></div>
        <div class="rejestracja"><b>Zarejestruj się</b></div>
      </div>
      
    </div>

    <script src="../actions/nav_app.js"></script>
  </body>
</html>
