<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/kalkulator.css" />
    <title>Kalkulator</title>
  </head>
  <body></body>
  <nav>
    <div class="logo">
      <a href="../index.html"
        ><img src="../css/images/logo.png" alt="Logo z napisem AWI"
      /></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="../index.html">HOME</a>
      </li>
      <li>
        <a href="spolki.html">SPÓŁKI</a>
      </li>
      <li>
        <a href="waluty.html">KURSY&nbsp;WALUT</a>
      </li>
      <li>
        <a href="help.html">HELP</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <footer class="footer">
    <div class="footer-logo">
      <a href="../index.html"
        ><img src="../css/images/logo.png" alt="Logo z napisem AWI"
      /></a>
    </div>

    <div class="footer-login">
      <img src="../css/images/log_in.png" alt="Ikona zaloguj sie" />
      <p class="footer-log">
        <a href="login.html" class="link-1">zaloguj się</a>
        <a href="register.html">załóż konto</a>
      </p>
    </div>

    <div class="footer-content">
      <p class="footer-links">
        <a class="link-1" href="../index.html">Home</a>

        <a href="spolki.html">Spółki</a>

        <a href="waluty.html">Kursy&nbsp;walut</a>

        <a href="help.html">Help</a>
      </p>
      <p>2022 &copy; Aplikacja Wspomagająca Inwestycje</p>
    </div>
  </footer>
  <script src="../../actions/nav_app.js"></script>
</html>
