<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
    <script src="../../../src/app.js" defer type="module"></script>
    <link rel="stylesheet" href="../css/login_form.css" />
  </head>
  <body>
    <div class="logo">
      <a href="../index.html"
        ><img src="../css/images/logo.png" alt="Logo z napisem AWI"
      /></a>
    </div>
    <form class="form" id="loginForm">
      <div class="form-row">
        <input type="text" class="form-control" id="login" name="login" />
        <label for="login" class="form-label">Podaj login</label>
      </div>
      <div class="form-row">
        <input
          type="password"
          class="form-control form-control-textarea"
          name="haslo"
          id="haslo"
        />
        <label class="form-label" for="haslo">Wpisz hasło</label>
      </div>
      <div class="spacer-form"></div>
      <button type="submit" class="button form-button">Zaloguj się</button>
    </form>
  </body>
</html>
