<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
    <link rel="stylesheet" href="../css/login_form.css" />
    <script src="../../actions/authorize.js" type="module"></script>
    <!--    <script src="../../../node_modules/axios/dist/axios.min.js" type="module"></script>-->

    <!--    //TODO: czy skrypty powinno się umieszczać jako pojednyczne skryty do danej podstony czy cały skrytp np app.js-->
  </head>
  <body>
    <div class="logo">
      <a href="../index.html"
        ><img src="../css/images/logo.png" alt="Logo z napisem AWI"
      /></a>
    </div>
    <form class="form" id="loginForm">
      <div class="user-icon"></div>
      <div class="form-row">
        <label for="login" class="form-label">Login</label>
        <input
          type="text"
          class="form-control"
          id="login"
          name="login"
          required="required"
        />
      </div>
      <div class="form-row">
        <label class="form-label" for="haslo">Hasło</label>
        <input
          type="password"
          class="form-control form-control-textarea"
          name="haslo"
          id="haslo"
          required="required"
        />
      </div>
      <div class="spacer-form"></div>
      <button type="submit" class="button form-button">Zaloguj się</button>
      <p class="simple-tekst">
        Nie masz konta?
        <a href="register.html"><br />Zarejestruj sie</a>
      </p>
    </form>
    <div class="copyright">
      <p>2022 &copy; Aplikacja Wspomagająca Inwestycje</p>
    </div>
  </body>
</html>
