<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <script src="../../../src/app.js" defer type="module"></script>
    <link rel="stylesheet">
</head>
<body>
<div class="all">
  <form class="form" id="loginForm">
    <div class="form-row">
      <label for="login" class="form-label">Podaj login</label>
      <input type="text" class="form-control" id="login" name="login">
    </div>
    <div class="form-row">
      <label class="form-label" for="haslo">Wpisz hasło</label>
      <input class="form-control form-control-textarea" name="haslo" id="haslo">
    </div>
    <div class="form-row form-row-last">
      <button type="submit" class="button form-button">Zaloguj się</button>
    </div>
  </form>
</div>
</body>
</html>